.toast {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 24px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  z-index: 9999;
  pointer-events: none;
  user-select: none;
  opacity: 0;
}

.toastActive {
  background-color: #68d490;
}

.toastInactive {
  background-color: #f18181;
}

.toastDelete {
  background-color: #ef4444;
}

.fadeIn {
  animation: fadeIn 0.5s forwards ease-in-out;
}

.fadeOut {
  animation: fadeOut 0.5s forwards ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
}
